<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!-- font awsome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">



    <!-- website icon link -->
    <link rel="website icon" type="png" href="rudresh1.png">
    <title>New Vishwaas</title>
</head>

<body>
    <div class="container">

        <div class="nav-section">

            <div class="navbar">
                <div class="logo"><img src="logo.jpeg" alt=""></div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#ff2000" fill-opacity="1"
                        d="M0,160L48,154.7C96,149,192,139,288,138.7C384,139,480,149,576,160C672,171,768,181,864,170.7C960,160,1056,128,1152,101.3C1248,75,1344,53,1392,42.7L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                    </path>

                </svg>
                <div class="nav-tabs">
                    <a href="#home-section">HOME</a>
                    <a href="#about-us-section">About-Us</a>
                    <!-- <a href="#about-us-section"></a> -->
                    <a href="#spices-section">Products</a>
                    <a href="#process_section">Process</a>
                    <!-- <a href="#project-section">Projects</a> -->
                    <a href="#contact-section">Contact</a>
                </div>
                <div class="bars">
                    <div class="toggle-bar1"><i class="fa-solid fa-bars"></i></div>
                    <div class="toggle-bar2"><i class="fa-solid fa-xmark"></i></div>
                </div>
            </div>
        </div>
        <div id="home-section" class="slideshow">
            <div id="slider">
                <div class="slides">
                    <img src="vishwaas3.jpg" width="100%" />
                </div>
                <div class="slides">
                    <img src="vishwaas4.jpg" width="100%" />
                </div>
                <div class="slides">
                    <img src="vishwaas5.jpg" width="100%" />
                </div>
                <div class="slides">

                    <img src="vishwaas1.jpg" width="100%" />
                </div>
                <div class="slides">
                    <img src="vishwaas2.jpg" width="100%" />
                </div>

                <!-- <div class="slides">
                    <img src="https://www.aachifoods.com/data/banner/1668247934.jpg" width="100%" />
                </div>

                <div class="slides">
                    <img src="https://www.aachifoods.com/data/banner/aachi-banner-3.jpg" width="100%" />
                </div> -->



                <div class="slides">
                    <img src="vishwaas6.jpg" width="100%" />
                </div>

                <div id="dot">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
        <div class="subcontainer">

            <section id="spices-section">
                <h1>Powdered Spices</h1>
                <div class="powdered-products">
                    <div class="product">
                        <img src="corinder.png" alt="">
                        <div class="description">
                            <h2>corinder powder</h2>
                            <!--<input type="text">-->

                        </div>

                    </div>

                    <div class="product">
                        <img src="garam_masala.png" alt="">
                        <div class="description">
                            <h2>garam masala powder</h2>

                            <!--<input type="text">-->

                        </div>
                    </div>

                    <div class="product">
                        <img src="termeric.png" alt="">
                        <div class="description">
                            <h2>termeric powder</h2>
                            <!--<input type="text">-->


                        </div>
                    </div>
                    <div class="product">
                        <img src="chilli.png" alt="">
                        <div class="description">
                            <h2>chilli powder</h2>

                            <!--<input type="text">-->

                        </div>
                    </div>
                </div>
            </section>

            <section id="spices-section">
                <h1>raw Spices</h1>
                <div class="raw-products">
                    <div class="product">
                        <img src="cumin seed.png" alt="">
                        <div class="description">
                            <h2>cumin seed</h2>
                            <!--<input type="text">-->

                        </div>

                    </div>
                    <div class="product">
                        <img src="mustard seeds.png" alt="A">
                        <div class="description">
                            <h2>mustard seeds</h2>

                            <!--<input type="text">-->

                        </div>
                    </div>
                    <div class="product">
                        <img src="pepper seeds.png" alt="">
                        <div class="description">
                            <h2>pepper seeds</h2>

                            <!--<input type="text">-->

                        </div>
                    </div>
                    <div class="product">
                        <img src="sesame seeds.png" alt="">
                        <div class="description">
                            <h2>sesame seeds</h2>

                            <!--<input type="text">-->

                        </div>
                    </div>

                </div>
            </section>
            <section id="spices-section">
                <h1>Blended Spices</h1>
                <div class="blended-products">

                    <div class="product">
                        <img src="garam_masala.png" alt="">
                        <div class="description">
                            <h2>garam masala powder</h2>

                            <!--<input type="text">-->

                        </div>
                    </div>

                </div>
            </section>
            <section class="process_section" id="process_section">
                <h1>Process of manufacturing</h1>
                <div class="process">
                    <div class="step">
                        <div class="pro_img"> <img src="cleaning.png" alt="">
                        </div>

                        <p>cleaning</p>
                    </div>
                    <div class="step">
                        <div class="pro_img"> <img src="drying.png" alt="">
                        </div>
                        <p>drying</p>
                    </div>
                    <div class="step">
                        <div class="pro_img"> <img src="roasting.png" alt="">
                        </div>

                        <p>roasting</p>
                    </div>
                    <div class="step">
                        <div class="pro_img"> <img src="grainding.png" alt="">
                        </div>

                        <p>grainding</p>
                    </div>
                    <div class="step">
                        <div class="pro_img"> <img src="packing1.png" alt="">
                        </div>

                        <p>packing</p>
                    </div>
                </div>
            </section>
            <section id="contact-section">
                <div class="footer">

                    <div class="company tabs">
                        <div class="logo">
                            <img src="logo.jpeg" alt="">

                        </div>
                        <h2>Newvishwaas Masala company</h2>
                        <p>nagavara banglore</p>
                    </div>
                    <div class="contact tabs">
                        <h2>contact</h2>
                        <div class="contacts">
                            <h3>+91 9123456789</h3>
                            <h3>newvishwaas@gmail.com</h3>
                        </div>
                    </div>
                    <div class="our-company tabs">
                        <h2>Our company</h2>
                        <div class="blocks">
                            <h3>products</h3>
                            <h3>about-us</h3>
                            <h3>contact</h3>
                            <h3>services</h3>
                        </div>

                    </div>
                </div>
                <div class="copyright">
                    <h3>Copyright © 2023 NewViswaas All rights reserved.</h3>
                </div>
            </section>
        </div>

    </div>

</body>
<script src="script.js"></script>

</html>